.icon{ background:url("icon.png") top left no-repeat; }
.icon-addFile{ width:24px; height:24px; background-position:-5px -5px; }
.icon-rename{ width:24px; height:24px; background-position:-34px -5px; }
.icon-cut{ width:24px; height:24px; background-position:-63px -5px; }
.icon-upload{ width:24px; height:24px; background-position:-92px -5px; }
.icon-duplicate{ width:24px; height:24px; background-position:-121px -5px; }
.icon-view{ width:24px; height:24px; background-position:-150px -5px; }
.icon-paste{ width:24px; height:24px; background-position:-179px -5px; }
.icon-download{ width:24px; height:24px; background-position:-208px -5px; }
.icon-addFolder{ width:24px; height:24px; background-position:-237px -5px; }
.icon-delete{ width:24px; height:24px; background-position:-266px -5px; }
.icon-copy{ width:24px; height:24px; background-position:-295px -5px; }

